# Segurança Arconorte Nexus
# Lista de chaves separadas por vírgula
NEXUS_API_KEYS=chave_secreta_aqui,outra_chave

# Configurações de Banco de Dados
# SQLite (Dev): sqlite:///./nexus_logistics.db
# PostgreSQL (Prod): postgresql://user:password@host:port/dbname
DATABASE_URL=sqlite:///./nexus_logistics.db

# Frontend (Injetado via Proxy no Vite ou Nginx)
VITE_NEXUS_API_KEY=chave_secreta_aqui
